<div class="card shadow-sm">
    <img class="bd-placegolder-img card-img-top" src='{{"assets/images/" + livro.image + ".png"}}'  width="100%">

    <div class="card-body">
        <p class="card-text">{{livro.title}}</p>
        <p class="card-text">{{livro.subtitle}}</p>
        <p class="card-text">{{livro.year}}</p>
        <p class="card-text">{{livro.price}}</p>

        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary">Comprar</button>
            <button type="button" class="btn btn-sm btn-primary"> Detalhes</button>
        </div>
    </div>
</div>